//Vars


/*********************
Color Variables
*********************/
$black: #000000;
$white: #ffffff;
$red:   #ad0101;

/*********************
BREAKPOINTS
*********************/
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;


/*********************
TYPOGRAPHY
*********************/

$sans-serif:        Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/

/** 
@font-face {
   	font-family: 'museo300-regular';
   	src: url('../fonts/museo300-regular.eot');
   	src: url('../fonts/museo300-regular.eot?#iefix') format('embedded-opentype'),
            url('../fonts/museo300-regular.woff') format('woff'),
            url('../fonts/museo300-regular.ttf') format('truetype'),
            url('../fonts/museo300-regular.svg#museo300-regular') format('svg');
   	font-weight: normal;
   	font-style: normal;
}

$museo300-regular: "museo300-regular", Verdana, Times New Roman, Times, serif;
**/

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/