//import all of the variables
@import 'variables';

//import all of the mixins
@import 'mixins';

//import custom animations
@import 'animations';

//logic to hide and show the backup image if SVG is not supported
.no-svg{
	.nonsvg-icon-backup{display:inline-block !important}
	.svg-icon{display:none !important}
}
.svg{
	.nonsvg-icon-backup{display:none !important}
	.svg-icon{display:inline-block !important}
}

/****************************
ADD ALL YOUR SASS/CSS BELOW
Please be sure and use SASS nesting
http://sass-lang.com/guide#topic-3
****************************/
a:focus{
	outline:none;
}

.padding0{
	padding: $padding0;
}
.site-header{
	@extend .fullwidth;
	padding: 10px 0 12px;	
	position:relative;
	z-index:9999;
		
	ul.nav{
		@extend .fright;
		padding:52px 0 0 0;
		
		li{
			@extend .fleft;
			padding:0 0 0 34px;
			position:relative;
			
			a{
				@extend .fleft;
				color:#444444;
				font:700 16px/18px $opensans;
				text-transform:uppercase;
				padding:0;
				text-decoration:none;
				@include hoverEffect(all, 0.2s, ease-in-out);
			}
			
			a:hover{
				background:none;
				@include hoverEffect(all, 0.2s, ease-in-out);
			}
			
			ul.sub-menu{
				display:none;
				position:absolute;
				left:15px;
				top:100%;
				list-style:none;
				padding:22px 0 0 0;				
				width:189px;
				
				li{
					padding:0;
					background:#160d47;
					@extend .fleft;
					@extend .fullwidth;
					border-top:1px solid #312b53;
					
					a{
						padding:20px;
						@extend .fullwidth;
					}				
				}
				:hover{
					background:#7dba3d;
				}
				:first-child{
					border:0;
				}
			}
		}

		li:hover{
			
			a{
				color:#7dba3d;
			}
		
			ul.sub-menu{
				display:block;
				
				a{
					color:$white;
				}
			}
		}
	}
}
//nesting example
//you can delete this and add your own relevant nested content



.site-content{
	@extend .fullwidth;
}
/*********************
HERO BANNER
*********************/
#hero{
	.hero-image{
		min-height:500px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		position:relative;
		
		img{
			width:100%;
			height:auto;
		}
		
		#mobile-hero-image{
			display:none;
			
		    @include breakpoint($screen-sm-min){
		        display:block;
				
				img{
					width:100%;
					height:auto;
					display:block;
				}
				position:relative;
		    }
		}
		
	    @include breakpoint($screen-sm-min){
	        background-image:none !important;
			min-height:inherit;
	    }
	
		.hero-info{
			position:absolute;
			top:17%;
			display:block;
			width:100%;
			z-index:2;
			
			@include breakpoint($screen-sm-min){
				position:static;
			}
	
			
			
			.description{
				h2{
					color:#444444;
					font:700 45px/46px $opensans;
					text-transform:uppercase;
					letter-spacing: 5px;
					margin:0;
					padding-bottom:15px;
				}
				
				h3{
					color:#444444;
					font:400 45px/46px $opensans;
					text-transform:uppercase;
					letter-spacing: 4px;
					margin:0;
					padding-bottom:33px;
				}
				
				a{
					float:right;
					background:#7cb93d;
					color:#fff;
					font:600 16px/40px $opensans;
					text-transform:uppercase;
					letter-spacing: 2px;
					padding:0 50px 0 28px;
					text-decoration:none;
					display:block;
					@include hoverEffect(all, 0.5s, ease-in-out);
					position:relative;
				}	
				
				a:after{
					position:absolute;
					right:15px;
					top:0;
					content:"";
					background:url(../images/right-angle.png) no-repeat center center;
					height:40px;
					width:7px;
				}
				
				a:hover{
					background:#61ae12;
				}
				
				
			}
		}
		
		
		#hero-banner-video{
			video{
		        position: absolute;
				z-index:1;
		        top:0;
				right:0;
		        min-width:100%;
				min-height:100%;
				display:block;
			
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateZ(0);
			
				.touch & {
					display:none;
				}
			
			}
		}
		
		h1{
			background:rgba(0, 0, 0, 0.6);
			color:#ffffff;
			font:700 36px/36px $opensans;
			text-transform:uppercase;
			margin:0;
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			text-align:center;
			letter-spacing:4px;
			padding:12px 0;
		}
		
	}
}


/*********************
BANNER VIDEO
*********************/
#video-block-container{
	position:relative;
	display:block;
	width:100%;
	height:400px;
	background-size:cover;
	#banner-video-container{
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		display:block;
		width:100%;
		height:100%;
		background:$black;
		text-align:center;
		
		#video-close-button{
			color:$white;
			position:absolute;
			top:0px;
			right:10px;
			font-size:2em;
		}
		
		iframe{
			margin:20px 0 0;
		}
	
		&.hide{
			display:none;
		}
	}	
	
	#video-playbutton-container{
		text-align:center;
		
		.video-play-button{
			color:$white;
			font-size:3em;
			
			a{
				color:$white;
			}
		}
		
		#video-play-button-touch{
			display:none;
		}
		
	}
}

//only show the touch play button on touch devices
.touch{
	#video-block-container{
		#video-playbutton-container{		

			#video-play-button-touch{
				display:block;
			}
			
			#video-play-button{
				display:none;
			}
		
		}
	}
}

/*********************
After Banner
*********************/
.after-banner{
	@extend .fullwidth;
	padding: 71px 0 94px;
	
	h1{
		font:700 30px/32px $opensans;
		text-transform:uppercase;
		color:#444444;
		padding:0 0 26px 0;
		margin:0 0 41px;
		background:url(../images/three-lins.png) no-repeat center bottom;
	}
	
	p{
		font:400 16px/24px $arail;
		color:#444444;
	}
}
/*********************
Services Section
*********************/
.services-section{
	@extend .fullwidth;
	background:url(../images/services-bg.png) no-repeat left center;
	background-size:cover;
	padding:23px 0 0 0;
	
	.services{
		-ms-transform: rotate(1deg);
		-webkit-transform: rotate(1deg);
		transform: rotate(1deg);
		list-style:none;
		width:357px;
		position:absolute;
		top:0;right:-11;
		
		li{
			text-transform:uppercase;
			-ms-transform: rotate(-5deg);
			-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
			float:right;
			width:100%;
			padding-top:40px;
			
			a{
				float:right;
				width:100%;
				text-align:center;
				-ms-transform: rotate(30deg);
				-webkit-transform: rotate(30deg);
				transform: rotate(30deg);
				opacity:0;
			}
		}
	}
	
	.services-left{
		@extend .fullwidth;
		position:relative;
		
		img{
			margin-left:-100px;
		}
	}
	
	.services-right{
		.top{
			@extend .fullwidth;
			
			h3{
				text-transform:uppercase;
				font:700 30px/32px $opensans;
			}
			
			p{
				text-transform:uppercase;
				font:400 16px/18px $opensans;
				color:#999999;
			}
		}
	}
}

/*********************
Footer Section
*********************/
.site-footer{
	@extend .fullwidth;
	border-top:1px solid #000000;
	padding:26px 0;
	
	ul{
		@extend .fleft;
		
		li{
			@extend .fleft;
			padding: 0 30px 0 0;
			
			a{
				@extend .fleft;
				padding:0;
				color:#999999;
				font:700 14px/16px $opensans;
				text-transform:uppercase;				
			}
			:hover{
				background:none;
			}
		}
	}
	.site-by{
		@extend .fright;
		
		a{
			@extend .fleft;
			padding:0;
			color:#999999;
			font:700 14px/16px $opensans;
			text-transform:uppercase;	
			text-decoration:none;
		}
	}
}


/**********************
Service Detail Page
**********************/
.service-detail{
	@extend .fullwidth;
	
	h2{
		font:700 18px/18px $opensans;
		color:#160d47;
		text-transform:uppercase;	
		text-align:center;
		margin:0;
	}
	
	p{
		font:400 16px/24px $arail;
		color:#333333;
	}
}