//import all of the variables
@import 'variables';

//import all of the mixins
@import 'mixins';

//import custom animations
@import 'animations';

//logic to hide and show the backup image if SVG is not supported
.no-svg{
	.nonsvg-icon-backup{display:inline-block !important}
	.svg-icon{display:none !important}
}
.svg{
	.nonsvg-icon-backup{display:none !important}
	.svg-icon{display:inline-block !important}
}

/****************************
ADD ALL YOUR SASS/CSS BELOW
Please be sure and use SASS nesting
http://sass-lang.com/guide#topic-3
****************************/
a:focus,*:focus{
	outline:none;
}
p{
	color: #333333;
    font: 400 16px/24px Arial,sans-serif;
    margin: 0;
    padding: 0 0 15px;
}
.padding0{
	padding: $padding0;
}
.site-header{
	@extend .fullwidth;
	padding: 10px 0 0;	
	position:relative;
	z-index:9999;
	
	a#logo{
		@extend .fleft;

		@include breakpoint($screen-sm-min){			
			margin-left:10px;
		}
	}
	
	@include breakpoint($screen-sm-min){
		padding: 10px 0;	
	}	
		
	ul.nav{
		@extend .fright;
		padding:52px 0 0 0;
		
		@include breakpoint($screen-sm-min){
			display:none;
		}
		
		li{
			@extend .fleft;
			margin:0 0 0 34px;
			position:relative;
			padding-bottom:32px;
			
			a{
				@extend .fleft;
				color:#444444;
				font:600 16px/18px $opensans;
				text-transform:uppercase;
				padding:0;
				text-decoration:none;
				@include hoverEffect(all, 0.2s, ease-in-out);
			}
			
			a:hover{
				background:none;
				@include hoverEffect(all, 0.2s, ease-in-out);
			}
			
			ul.sub-menu{
				display:none;
				position:absolute;
				left:-17px;
				top:100%;
				list-style:none;
				padding:0;				
				width:189px;
				
				li{
					margin:0;
					background:#160d47;
					@extend .fleft;
					@extend .fullwidth;
					padding:0;
					border-top:1px solid #312b53;
					
					a{
						padding:20px;
						@extend .fullwidth;
					}				
				}
				:hover{
					background:#7dba3d;
				}
				
				.current-menu-item{
					background:#7dba3d;
				}
				:first-child{
					border:0;
				}
			}
		}

		li:hover{
			
			a{
				color:#7dba3d;
			}
		
			ul.sub-menu{
				/*display:block;*/
				
				a{
					color:$white;
				}
			}
		}
		
		li.current-menu-item{
			a{
				color:#7dba3d;
			}
		}
		li.current-page-ancestor{
			a{
				color:#7dba3d;
			}
		}
	}
}
//nesting example
//you can delete this and add your own relevant nested content



.site-content{
	@extend .fullwidth;
}
/*********************
HERO BANNER
*********************/
#hero{
	.hero-image{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		position:relative;
		
		@include breakpoint($screen-md-min){
			min-height:0;
		}
		
		img{
			width:100%;
			height:auto;
		}
		
		#mobile-hero-image{
			display:none;
			
		    @include breakpoint($screen-sm-min){
		        display:block;
				
				img{
					width:100%;
					height:auto;
					display:block;
				}
				position:relative;
		    }
		}
		
	    @include breakpoint($screen-sm-min){
	        background-image:none !important;
			min-height:inherit;
	    }
	
		.hero-info{
			position:absolute;
			top:17%;
			display:block;
			width:100%;
			z-index:2;						
			
			@include breakpoint($screen-sm-min){
				position:static;
			}
			
			.description{
			
				@include breakpoint($screen-sm-min){
					text-align:center;
					padding:15px;
				}
				
				h2{
					color:#444444;
					font:700 45px/46px $opensans;
					text-transform:uppercase;
					letter-spacing: 5px;
					margin:0;
					padding-bottom:15px;
					
					@include breakpoint($screen-md-min){
						font:700 34px/35px $opensans;
					}
					@include breakpoint($screen-sm-min){
						font:700 16px/19px $opensans;
					}
				}
				
				h3{
					color:#444444;
					font:400 45px/46px $opensans;
					text-transform:uppercase;
					letter-spacing: 4px;
					margin:0;
					padding-bottom:33px;
					
					@include breakpoint($screen-md-min){
						font:400 34px/35px $opensans;
					}
					@include breakpoint($screen-sm-min){
						font:400 16px/19px $opensans;
					}
				}
				
				a{
					float:right;
					background:#7cb93d;
					color:#fff;
					font:600 16px/40px $opensans;
					text-transform:uppercase;
					letter-spacing: 2px;
					padding:0 50px 0 28px;
					text-decoration:none;
					display:block;
					@include hoverEffect(all, 0.5s, ease-in-out);
					position:relative;
					
					@include breakpoint($screen-sm-min){
						float:none;
						display:inline-block;
					}
				}	
				
				a:after{
					position:absolute;
					right:15px;
					top:0;
					content:"";
					background:url(../images/right-angle.png) no-repeat center center;
					height:40px;
					width:7px;
				}
				
				a:hover{
					background:#61ae12;
				}
				
				
			}
		}
		
		
		#hero-banner-video{
			
			video{
		        /*position: absolute;*/
				z-index:1;
		        top:0;
				right:0;
		        min-width:100%;
				min-height:100%;
				max-width:100%;
				display:block;
			
				-webkit-backface-visibility: hidden;
				-webkit-transform: translateZ(0);
			
				.touch & {
					display:none;
				}
			
			}
		}
		
		.title{
			background:rgba(0, 0, 0, 0.6);
			color:#ffffff;
			font:700 36px/36px $opensans;
			text-transform:uppercase;
			margin:0;
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			text-align:center;
			letter-spacing:4px;
			padding:12px 0;
			
			@include breakpoint($screen-md-min){
				font:700 27px/30px $opensans;
			}
			@include breakpoint($screen-sm-min){
				font:700 18px/23px $opensans;
				position:static;
			}
		}
		
	}
}


/*********************
BANNER VIDEO
*********************/
#video-block-container{
	position:relative;
	display:block;
	width:100%;
	height:495px;
	background-size:cover;
	
	#banner-video-container{
		position:absolute;
		top:0;
		left:0;
		z-index:10;
		display:block;
		width:100%;
		height:100%;
		background:$black;
		text-align:center;
		
		#video-close-button{
			color:$white;
			position:absolute;
			top:0px;
			right:10px;
			font-size:2em;
		}
		
		iframe{
			margin:20px 0 0;
		}
	
		&.hide{
			display:none;
		}
	}	
	.video-title{
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
		bottom: 0;
		color: #ffffff;
		font: 700 36px/36px "Open Sans",sans-serif;
		left: 0;
		letter-spacing: 4px;
		margin: 0;
		padding: 12px 0;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}
	#video-playbutton-container{
		text-align:center;
		height: 100%;
		
		.video-play-button{
			color:$white;
			font-size:3em;
			height: 100%;
			
			a{
				color:$white;
			}
		}
		
		#video-play-button-touch{
			display:none;
		}
		
	}
}

//only show the touch play button on touch devices
.touch{
	#video-block-container{
		#video-playbutton-container{		

			#video-play-button-touch{
				display:block;
			}
			
			#video-play-button{
				display:none;
			}
		
		}
	}
}

/*********************
After Banner
*********************/
.after-banner{
	@extend .fullwidth;
	padding: 71px 0 94px;
	
	@include breakpoint($screen-md-min){
		padding: 40px 0;
	}
	@include breakpoint($screen-sm-min){
		padding: 40px 0 0;
	}
	
	h1{
		font:700 30px/32px $opensans;
		text-transform:uppercase;
		color:#444444;
		padding:0 0 26px 0;
		margin:0 0 41px;
		background:url(../images/three-lins.png) no-repeat center bottom;
		
		@include breakpoint($screen-sm-min){
			font:700 20px/22px $opensans;
			margin:0 0 20px;
		}
	}
	
	p{
		font:400 16px/24px $arail;
		color:#444444;
	}
}
/*********************
Services Section
*********************/
.services-section{
	@extend .fullwidth;
	background:url(../images/services-bg.png) no-repeat left center;
	background-size:cover;
	padding:23px 0 0 0;
	
	@include breakpoint($screen-sm-min){
		display:none;
	}
		
	.services-left{
		@extend .fullwidth;
		position:relative;
		
		img{
			margin-left:-100px;
			
			@include breakpoint($screen-lg-min){
				margin-left:-15px;
			}
		}
	}
	
	.services-right{
		.top{
			@extend .fullwidth;
			
			h3{
				text-transform:uppercase;
				font:700 30px/32px $opensans;
			}
			
			p{
				text-transform:uppercase;
				font:400 16px/18px $opensans;
				color:#999999;
			}
		}
		
		.service{
			display:none;
			@extend .fullwidth;
			 padding: 70px 0 0;
			
			span{
				text-transform:uppercase;
				font:700 18px/20px $opensans;
				padding: 0 0 15px 0;
				display:block;
			}
			
			p{
				padding: 0 0 30px;
				font:400 15px/20px $opensans;
			}
			
			a{
				float:right;
				background:#7cb93d;
				color:#fff;
				font:600 16px/40px $opensans;
				text-transform:uppercase;
				letter-spacing: 2px;
				padding:0 50px 0 28px;
				text-decoration:none;
				display:block;
				@include hoverEffect(all, 0.5s, ease-in-out);
				position:relative;
				
				@include breakpoint($screen-sm-min){
					float:none;
					display:inline-block;
				}
			}	
			
			a:after{
				position:absolute;
				right:15px;
				top:0;
				content:"";
				background:url(../images/right-angle.png) no-repeat center center;
				height:40px;
				width:7px;
			}
			
			a:hover{
				background:#61ae12;
			}
		}
		.displayService{
			display:block;
		}
		
	}
}


.services-section-mobile{
	@extend .fullwidth;
	background:url(../images/mobile-bg.png) no-repeat left top;
	background-size: cover;
	padding:25px 0 25px;
	display:none;
	@include breakpoint($screen-sm-min){
		display:block;
	}
	
	h3{
		color:$white;
		text-transform:uppercase;
		font:700 24px/27px $opensans;
		padding:0 0 20px 0;
	}
	
	.service-mobile{
		@extend .fullwidth;
		padding-bottom:20px;
		
		.image{
			width:45%;
			
			img{
				max-width:100%;
			}
		}
		
		.text{
			width:45%;
			height:100%;
			padding-top:22px;			
					
			span{
				font:700 12px/15px $opensans;
				color:$white;
				text-transform:uppercase;
				border-bottom:3px solid #7cb93d;
				padding: 0 5px 5px;
				display:block;
			}	
		}
	}
}
/*********************
Footer Section
*********************/
.site-footer{
	@extend .fullwidth;
	padding:26px 0;
	
	ul{
		@extend .fleft;
		
		@include breakpoint($screen-sm-min){
			width:100%;
		}
		
		li{
			@extend .fleft;
			padding: 0 30px 0 0;
			
			@include breakpoint($screen-sm-min){
				width:100%;
				padding: 0 0 35px 0;
				text-align:center;
			}
			
			a{
				@extend .fleft;
				padding:0;
				color:#999999;
				font:700 14px/16px $opensans;
				text-transform:uppercase;	
				@include hoverEffect(all, 0.4s, ease-in-out);

				@include breakpoint($screen-sm-min){
					float:none;
					font:700 16px/16px $opensans;
				}
			}
			:hover{
				background:none;
				color:#7dba3d;
			}
		}
	}
	.site-by{
		@extend .fright;
		
		
		@include breakpoint($screen-sm-min){
			width:100%;
			text-align:center;
		}
		
		a{
			@extend .fleft;
			padding:0;
			color:#999999;
			font:700 14px/16px $opensans;
			text-transform:uppercase;	
			text-decoration:none;
			@include hoverEffect(all, 0.4s, ease-in-out);
			
			@include breakpoint($screen-sm-min){
				font:400 16px/18px $arail;
				float:none;
			}
		}
		
		:hover{
			color:#7dba3d;
		}
	}
}


/**********************
Service Detail Page
**********************/
.service-detail{
	@extend .fullwidth;
	padding:37px 0 84px 0;
	margin:25px 0 0;
	background:url(../images/three-lins.png) no-repeat center top;
	
	@include breakpoint($screen-md-min){
		padding:37px 0;
	}
	@include breakpoint($screen-sm-min){
		text-align:center;
	}
	
	h2{
		font:700 18px/24px $opensans;
		color:#160d47;
		text-transform:uppercase;	
		text-align:center;
		margin:0;
		padding: 0 0 17px 0;
		letter-spacing: 3px;
	}
	
	p{
		font:400 16px/24px $arail;
		color:#333333;
		padding:0 0 15px 0;
		margin:0;
	}
}

.services-links{
	@extend .fullwidth;
	text-transform:uppercase;
	padding:53px 0 0;
	background-size:cover;
	
	h4{
		margin:0;
		font:700 24px/24px $opensans;
		color:#160d47;
		padding:0 0 45px 0;
	}
	a{
		width:100px;
		height:100px;
		@extend .dib;
		border:5px solid #8cc640;
		@include border-radius-fourcorners(50%);
		text-align:center;
		line-height:90px;
		transition: all 0.2s ease-in-out 0s;
	}
	
	a:hover{
		transform: scale(1.2);
	}
	
	span{
		@extend .fullwidth;
		font:700 18px/24px $opensans;
		color:#333333;
		padding:22px 0 55px 0;
	}
}
/**********************
Services Page
**********************/
body.page-template-template-services{
	.service-detail{
		padding:77px 0 0;
	}
	.service-outer{
		@extend .fullwidth;
		float: left;
	}
.service-links{
	@extend .fullwidth;
	padding:0 0 120px;
	background-size:cover;
	
	
	
	.service-inner{
		@extend .fullwidth;
		background:url(../images/service-lines.png) no-repeat center top;
		padding-top: 93px;
		
		@include breakpoint($screen-md-min){
			background-size: 68% auto;
			padding-top: 70px;
		}
		@include breakpoint($screen-md-min){
			background:none;
			padding-top: 10px;
		}
	}
	
	h4{
		margin:0;
		font:700 24px/24px $opensans;
		color:#160d47;
		padding:0 0 45px 0;
	}
	a.service-icon{
		width:100px;
		height:100px;
		@extend .dib;
		border:5px solid #8cc640;
		@include border-radius-fourcorners(50%);
		text-align:center;
		line-height:90px;
		transition: all 0.2s ease-in-out 0s;
	}
	
	a.service-icon:hover{
		transform: scale(1.1);
	}
	
	
	span{
		@extend .fullwidth;
		font:700 18px/24px $opensans;
		color:#333333;
		padding:22px 0 18px 0;
		
		a{
			color:#333333;
			@include hoverEffect(all, 0.2s, ease-in-out);
			text-decoration:none;
		}
		
		a.hover{			
			color:#7dba3d;
		}
		a:hover{
			color:#7dba3d;
		}
	}
	ul{
		margin:0;
		padding:0;
		list-style:none;
		text-align:left;
		@extend .fullwidth;
		float:left;
		
		@include breakpoint($screen-sm-min){
			padding-bottom:30px;
		}
		
		li{
			font:400 16px/16px $opensans;
			text-transform:inherit !important;
			color:#333333;
			padding-left:22px;
			background:url(../images/green-bullet.png) no-repeat left 5px;
		}
	}
}

}
/********************
Gravity Form
********************/
.page-template-template-contact{
	
	#contact-map{
	
		@include breakpoint($screen-sm-min){
			height: 200px !important;
		}
		
		.gmnoprint{
			display:none;
		}
		.gm-style-cc{
			display:none;
		}
	}
	.contact-map-outer{
		@extend .fullwidth;
		@extend .fleft;
		position:relative;
		
		.gm-style-iw{
			top: 30px !important;
			left: 35px !important;
			
			div{
				overflow:visible !important;
			}
		}
		
		
		.location-information{
			position:relative;
			left:50%;
			bottom:-230px;
			margin-left: 35px;
			background:url(../images/location-bg.png);
			width:330px;
			color:$white;
			padding:15px;
			font:400 16px/24px $opensans;
			
			@include breakpoint($screen-sm-min){
				left: 50%;
				width: 290px;
				margin-left: -145px;
				bottom: 5px;
				font:400 13px/15px $opensans;
			}
			
			.location-name{
				font:700 16px/24px $opensans;
			}
			
			a{
				color:$white;
			}
		}
		
		.location-information:before{
			content:"";
			position:absolute;
			left:-22px;
			top:-45px;
			width:69px;
			height:45px;
			background:url(../images/address-arrow.png) no-repeat left bottom;
			
			@include breakpoint($screen-sm-min){
				display:none;
			}
		}
	}
	
	.contact-main{		
		@extend .fullwidth;
		@extend .fleft;
		padding:72px 0 109px;
		margin:29px 0 0;
		background:url(../images/three-lins.png) no-repeat center top;
		
		.gform_wrapper{
			@extend .fullwidth;
			@extend .fleft;
			
			form{
				.gform_heading{
					h3.gform_title{
						font:700 24px/26px $opensans;
						color:#160d47;
						text-transform:uppercase;
						letter-spacing:4px;
					}
				}
				
				.gform_body{
					@extend .fullwidth;
					@extend .fleft;
					
					label{
						display:none;
					}
					
					ul{
						margin:0;
						padding:0;
						list-style:none;
						@extend .fullwidth;
						@extend .fleft;
						
						li{
							@extend .fleft;
							width:49%;
							@extend .fleft;
							
							.ginput_container{
								border-left:4px solid #7ab83d;
								margin-top:12px;
								width:100%;
									float:left;
								
								input[type="text"]{								
									border:1px solid #e1e1e1;
									position:relative;
									height:35px;
									padding:10px;
									width:100%;
									float:left;
									color:#999999;
								}
								select{
									width:100%;
									height:35px;
									float:left;
									border:1px solid #e1e1e1;
									color:#999999;
								}
								
								textarea{
									padding:10px;
									width:100%;
									float:left;
									border:1px solid #e1e1e1;
									color:#999999;
									resize:none;
									height:176px;
								}
								
								
							}
						}	
						li:first-child{
							@extend .fright;
						}
					}
				}
				
				.gform_footer{
					width:100%;
					float:left;
					text-align:center;
					padding:54px 0 0;
					
					input[type="submit"]{
						background: #7cb93d url(../images/right-angle.png) no-repeat 90% center;
						color: #fff;
						display: inline-block;
						font: 600 16px/40px $opensans;
						letter-spacing: 2px;
						padding: 0 53px 0 20px;
						position: relative;
						text-decoration: none;
						border:0;
						text-transform: uppercase;
						@include hoverEffect(all, 0.5s, ease-in-out);
					}
					input[type="submit"]:hover{
						background: #61ae12 url(../images/right-angle.png) no-repeat 90% center;
					}
				}
				
				
			}
		}
	}
}


/********************
Open Positions
********************/
.page-template-template-openings-php{
	.position-main{
		@extend .fullwidth;
		@extend .fleft;
		padding:52px 0 41px;
		background:#f1f1f1 url(../images/three-lins.png) no-repeat center 19px;
	
		.wrapper{
			margin:0 auto;
			width:1044px;
			
			@include breakpoint($screen-md-min){
				width:750px;
			}
			
			@include breakpoint($screen-lg-min){
				width:960px;
			}
			@include breakpoint($screen-lg-min){
				width:95%;
			}
		}
	}
}

.job-banner{
	@extend .fullwidth;
	padding:59px 0 54px;
	
	h1{
		margin:0;
		color:$white;
		text-transform:uppercase;
		font: 600 40px/42px $opensans;
		padding:0 0 12px;
		
		@include breakpoint($screen-sm-min){
			font: 600 30px/32px $opensans;
		}
		
	}
	h2{
		margin:0;
		color:$white;
		text-transform:uppercase;
		font: 400 30px/32px $opensans;
		@include breakpoint($screen-sm-min){
			font: 600 20px/22px $opensans;
		}
	}
}

.wpjb-page-index{
	@extend .fullwidth;
	@extend .fleft;
	
	.wpjb-job-list{
		@extend .fullwidth;
		@extend .fleft;
		
		.wpjb-grid-row{
			@extend .fullwidth;
			@extend .fleft;
			background:#ffffff;
			border-bottom:1px solid #f5f5f5;
			
			.wpjb-col-title{
				width:41%;
				
				@include breakpoint($screen-sm-min){
					width:80%;
				}
				
				a{
					font: 400 100%/1.5	 $arail;
					color:#160d47;
				}
				
				.wpjb-sub {
					display: block;
					font: 400 0.85em/0.95em $arail;
				}
			}
			
			.wpjb-col-location{
				color:#444;
				font: 400 100%/1.5 $arail;
				
				@include breakpoint($screen-sm-min){
					width:100%;
					padding:10px 1%;
				}
			}
			
			.wpjb-grid-col-right{
				@include breakpoint($screen-sm-min){
					width:100%;
					padding:10px 1%;
					text-align:left;
				}
			}
			
			.wpjb-bulb{
				/*@extend .dnone;*/
				background-color:#160d47;
			}
			
			a{
				color:#160d47;
			}
			.wpjb-tooltip{
				color:#160d47;
			}
		}
	}
}

.wpjb-grid-row{
	a{
		color:#160d47;
	}
}
.wpjb .wpjb-form div input[type="text"]{
	background-color:#160d47;
	color:#fff;
	border:0;
}
.wpjb .wpjb-form div input[type="password"]{
	background-color:#160d47;
	color:#fff;
	border:0;
}
.wpjb .wpjb-form div textarea{
	background-color:#160d47;
	color:#fff;
	border:0;
}

/*Default Page css starts here*/
.page-template-default{
	.entry-title{
		color: #160d47;
		font-family: "PhiRoman";
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;margin: 0 0 1em;
	}
}

/***********************
Why Chime Page
***********************/
.page-template-template-why-chime{
	.service-detail{
		padding: 57px 0 84px;
		
		@include breakpoint($screen-sm-min){
			padding: 57px 0 0;
		}
	}
}


.testimonial-text{
	padding-top:33px;
	h3{
		color:#160d47;
		font: 700 24px/26px $opensans;
		text-transform: uppercase;
		letter-spacing:3px;
		padding-bottom:32px;
		
		@include breakpoint($screen-md-min){
			font: 700 20px/22px $opensans;
		}
		
		@include breakpoint($screen-sm-min){
			text-align:center;
		}
	}
	
	p{
		color:#444444;
		font: 400 20px/30px $arail;
		background:url(../images/testimonial-start.png) no-repeat left 2px;
		padding-left:40px;
		
		img{
			position:relative;
			top:-3px;
		}
	}
	
	span{
		color:#999999;
		font: 400 20px/30px $arail;
		float:right;
	}
}

.testimonial-image{
	@extend .fullwidth;
	float:left;
	
	img{
		max-width:100%;
	}
}
.top-3-reasons{
	@extend .fullwidth;
	padding:40px 0 38px;
	background-size:cover;
	text-align: center;
	
	
	.service-inner{
		@extend .fullwidth;
		background:url(../images/service-lines.png) no-repeat center top;
		padding-top: 93px;
	}
	
	h4{
		margin:0;
		font:700 24px/24px $opensans;
		color:#160d47;
		text-transform: uppercase;
		padding:0 0 70px 0;
	}
	span.image{
		width:100px;
		height:100px;
		@extend .dib;
		border:5px solid #8cc640;
		@include border-radius-fourcorners(50%);
		text-align:center;
		line-height:90px;
		padding:0;
		transition: all 0.2s ease-in-out 0s;
	}
	span.image:hover{
		transform: scale(1.2);
	}
	
	span.title{
		@extend .fullwidth;
		font:700 18px/24px $opensans;
		color:#160d47;
		padding:22px 0 18px 0;
		text-transfrom:uppercase;
		letter-spacing:2px;
	}
	
	p{
		color:#444444;
		font: 400 16px/18px $arail;
	}
	
	a{
		background: none repeat scroll 0 0 #7cb93d;
		color: #fff;
		display: inline-block;
		font: 600 16px/40px $opensans;
		letter-spacing: 2px;
		padding: 0 50px 0 28px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		margin-top:60px;
		@include hoverEffect(all, 0.5s, ease-in-out);
		clear:both;
	}
	a::after {
		background: url("../images/right-angle.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		content: "";
		height: 40px;
		position: absolute;
		right: 15px;
		top: 0;
		width: 7px;
	}
	
	a:hover{
		background:#61ae12;
	}
}


/****************
Career Page
****************/
.job-link{
	@extend .fullwidth;
	padding:27px 0;
	
	a{
		background: none repeat scroll 0 0 #7cb93d;
		color: #fff;
		display: inline-block;
		font: 600 16px/40px $opensans;
		letter-spacing: 2px;
		padding: 0 50px 0 28px;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		@include hoverEffect(all, 0.5s, ease-in-out);
	}
	a::after {
		background: url("../images/right-angle.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		content: "";
		height: 40px;
		position: absolute;
		right: 15px;
		top: 0;
		width: 7px;
	}
	a:hover{
		background:#61ae12;
	}
}

.page-template-template-career {
	
	.service-detail{
		background:none;
		
		@include breakpoint($screen-md-min){
			margin:0;
			padding: 0;
		}
	}
}

.our-values{
	@extend .fullwidth;
	background:#160d47;
	padding:80px 0 60px;
	
	h4{
		color: $white;
		font: 700 24px/24px $opensans;
		margin: 0;
		padding: 0 0 37px;
		text-transform:uppercase;
		text-align:center;
	}
	
	.value-inner{
		@extend .fullwidth;
		background:#28214c;
		margin-bottom:20px;
		padding:16px 15px 7px;
		
		span{
			font: 48px/50px 'avenirmedium';
			color:#7cb93d;
			float:left;
			padding-right:20px;
		}
		
		p{
			font: 400 16px/20px $arail;
			padding:0;
			color:$white;
		}
		
		a{
			background: none repeat scroll 0 0 #7cb93d;
			color: #fff;
			display: inline-block;
			font: 600 16px/40px $opensans;
			letter-spacing: 2px;
			padding: 0 50px 0 28px;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
			@include hoverEffect(all, 0.5s, ease-in-out);
			
			@include breakpoint($screen-md-min){
				padding: 0 35px 0 28px;
			}
		}
		a::after {
			background: url("../images/right-angle.png") no-repeat scroll center center rgba(0, 0, 0, 0);
			content: "";
			height: 40px;
			position: absolute;
			right: 15px;
			top: 0;
			width: 7px;
		}
		a:hover{
			background:#61ae12;
		}
	}
	
	.value-inner.join-team{
		padding:16px 15px 17px;
	}
}

.testimonial-by{
	@extend .fullwidth;
	padding:125px 0 134px;
	background:#160d47;
	
	@include breakpoint($screen-md-min){
		padding: 40px 0 27px;
	}
	
	span{
		color:#8cc640;
		font: 700 16px/24px $opensans;
		text-transform: uppercase;
	}
	
	p{
		color:$white;
		font: 400 16px/24px $arail;
	}
}

.mobile-slide{float:left;width:100%;}

.mobile-menu-wrap {
    background: none repeat scroll 0 0 #160d47;
    height: 100%;
	margin-right: -70%;
    overflow-y: scroll;
    position: fixed;
    right: 0;
    width: 70%;
    z-index: 99999;
	
	ul {
		-moz-padding-start: 0;
		list-style-type: none;
		padding:0;
		
		li {
			border-bottom: 1px solid #241a56;
			
			a {
				display: block;
				padding: 10px 20px;color: #ffffff;
				width: 100%;
			}
			
			ul {
				display: none;
				
				li {
					background: #241a56;
					border-bottom: 1px solid #160d47;
				}
			}
		}
	}
}


/*****************
Mobile Menu
*****************/
#mobile-toggle {
    padding: 0;
    right: 34px;
	float:right;
	width:50px;
	height:50px;
	position:relative;
	top:14px;
	width:50px;@include hoverEffect(all, 0.5s, ease-in-out);
	height:50px;
	background-image:url(../images/mobile-menu.png);background-position:0 0;
}
.visible-sm-block{
	@include breakpoint($screen-md-min){
		display:none !important;
	}
	@include breakpoint($screen-sm-min){
		display:block !important;
	}
}
#mobile-toggle.orange{
	background-position:0 -50px;@include hoverEffect(all, 0.5s, ease-in-out);
}
.mobile-menu-wrap ul a:hover, 
.mobile-menu-wrap ul a:focus {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.mobile-menu-wrap ul li.menu-item-has-children > a::after, 
.mobile-menu-wrap ul li.top-nav-search > a::after, 
.mobile-menu-wrap ul li.top-nav-chapters > a::after {
    color: #ffffff;
    content: "\f0d7";
    float: right;
    font-family: FontAwesome;
    font-size: 1em;
    padding-right: 25px;
    right: 0;
}