@font-face { font-family: 'PhiRoman'; src: url("../fonts/Phi_Roman-webfont.eot"); src: url("../fonts/Phi_Roman-webfont.eot?#iefix") format("eot"), url("../fonts/Phi_Roman-webfont.woff") format("woff"), url("../fonts/Phi_Roman-webfont.ttf") format("truetype"), url("../fonts/Phi_Roman-webfont.svg") format("svg"); }

@font-face {
    font-family: 'avenirmedium';
    src: url('../fonts/12_avenir_65_medium___06173-webfont.eot');
    src: url('../fonts/12_avenir_65_medium___06173-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/12_avenir_65_medium___06173-webfont.woff2') format('woff2'),
         url('../fonts/12_avenir_65_medium___06173-webfont.woff') format('woff'),
         url('../fonts/12_avenir_65_medium___06173-webfont.ttf') format('truetype'),
         url('../fonts/12_avenir_65_medium___06173-webfont.svg#avenirmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}