/*********************
Color Variables
*********************/
/*********************
BREAKPOINTS
*********************/
/*********************
TYPOGRAPHY
*********************/
/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/** 
@font-face { 	font-family: 'museo300-regular'; 	src: url('../fonts/museo300-regular.eot'); 	src: url('../fonts/museo300-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/museo300-regular.woff') format('woff'), url('../fonts/museo300-regular.ttf') format('truetype'), url('../fonts/museo300-regular.svg#museo300-regular') format('svg'); 	font-weight: normal; 	font-style: normal;
}

$museo300-regular: "museo300-regular", Verdana, Times New Roman, Times, serif;
**/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
/*********************
Float Variables
*********************/
.fleft, .site-header a#logo, .site-header ul.nav li, .site-header ul.nav li a, .site-header ul.nav li ul.sub-menu li, .site-footer ul, .site-footer ul li, .site-footer ul li a, .site-footer .site-by a, .get-in-touch, .page-template-template-contact .contact-map-outer, .page-template-template-contact .contact-main, .page-template-template-contact .contact-main .gform_wrapper, .page-template-template-contact .contact-main .gform_wrapper form .gform_body, .page-template-template-contact .contact-main .gform_wrapper form .gform_body ul, .page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li, .page-template-template-openings-php .position-main, .wpjb-page-index, .wpjb-page-index .wpjb-job-list, .wpjb-page-index .wpjb-job-list .wpjb-grid-row { float: left; }

.fright, .site-header ul.nav, .site-footer .site-by, .page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li:first-child { float: right; }

.fnone { float: none; }

.fullwidth, .site-header, .site-header ul.nav li ul.sub-menu li, .site-header ul.nav li ul.sub-menu li a, .site-content, .after-banner, .services-section, .services-section .services-left, .services-section .services-right .top, .services-section .services-right .service, .services-section-mobile, .services-section-mobile .service-mobile, .site-footer, .service-detail, .services-links, .services-links span, body.page-template-template-services .service-outer, body.page-template-template-services .service-links, body.page-template-template-services .service-links .service-inner, body.page-template-template-services .service-links span, body.page-template-template-services .service-links ul, body.page-template-template-service-php .service-outer, body.page-template-template-service-php .service-links, body.page-template-template-service-php .service-links .service-inner, body.page-template-template-service-php .service-links span, body.page-template-template-service-php .service-links ul, .get-in-touch, .page-template-template-contact .contact-map-outer, .page-template-template-contact .contact-main, .page-template-template-contact .contact-main .gform_wrapper, .page-template-template-contact .contact-main .gform_wrapper form .gform_body, .page-template-template-contact .contact-main .gform_wrapper form .gform_body ul, .page-template-template-openings-php .position-main, .job-banner, .wpjb-page-index, .wpjb-page-index .wpjb-job-list, .wpjb-page-index .wpjb-job-list .wpjb-grid-row, .testimonial-image, .top-3-reasons, .top-3-reasons .service-inner, .top-3-reasons span.title, .job-link, .our-values, .our-values .value-inner, .testimonial-by { width: 100%; }

/*********************
Display Variables
*********************/
.dnone { display: none; }

.dblock { display: block; }

.dib, .services-links a, body.page-template-template-services .service-links a.service-icon, body.page-template-template-service-php .service-links a.service-icon, .top-3-reasons span.image { display: inline-block; }

.dinline { display: inline; }

/******************************************************************
Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix, .cf { zoom: 1; }
.clearfix:before, .clearfix:after, .cf:before, .cf:after { content: ""; display: table; }
.clearfix:after, .cf:after { clear: both; }

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp { font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important; font-style: italic; }

/*********************
TRANSITION
*********************/
/*
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
OPACITY
adds an opacity to an HTML element
USAGE:  @include opacity(.8,80);
*********************/
/*********************
VENDOR PREFIX
allows us to add one line of code that works accross all the browsers for CCS3 elements
USAGE:  @include vendor-prefix('border-radius', '6px');
*********************/
/*********************
HTML LIST ITEM WITH NOT LIST STYLE 
removes the list-style settings from an HTML list
USAGE:  @include listNoStyle
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
This is a great tool for creating CSS gradients:  http://www.colorzilla.com/gradient-editor/
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* @include css-gradient(#dfdfdf,0%, #f8f8f8, 80%); */
/* @include css-gradient(#dfdfdf,0%, #f8f8f8, 80%); */
/* @include css-gradient(#dfdfdf,0%, #f8f8f8, 20%, #000000, 20%, #f8f8f8, 90%); */
/*********************
BORDER RADIUS
USAGE:  @include border-radius-fourcorners(10px)
*********************/
/*********************
TRANSFORM
rotate USAGE:  @include rotate(20deg)
scale USAGE:  @include scale(1.3)
*********************/
/******************************************************************
Stylesheet: Animations

This is where we can add some fun CSS3 animations that can be called in the style.scss file.

When adding CSS animations to a element you will want to include these lines of code in addition to the animation-name:
	@include vendor-prefix('animation-timing-function', 'linear');
	@include vendor-prefix('animation-duration', '20s' );
	@include vendor-prefix('animation-iteration-count', 'infinite');
	@include vendor-prefix('animation-fill-mode', 'both');
	@include vendor-prefix('transform-style', 'preserve-3D');
******************************************************************/
/*********************
360 Rotationi Animation
USAGE: @include vendor-prefix('animation-name', 'spin360');
*********************/
@-webkit-keyframes spin360 { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-moz-keyframes spin360 { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@-o-keyframes spin360 { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
@keyframes spin360 { 0% { -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg); transform: rotate(360deg); } }
/*********************
EXAMPLE animation used to make an item rotate around in a circle.
*********************/
@-webkit-keyframes orbitTopMiddle { from { -webkit-transform: rotate(0deg) translateY(-200px) rotate(0deg); }
  to { -webkit-transform: rotate(360deg) translateY(-200px) rotate(-360deg); } }
@-moz-keyframes orbitTopMiddle { from { -moz-transform: rotate(0deg) translateY(-200px) rotate(0deg); }
  to { -moz-transform: rotate(360deg) translateY(-200px) rotate(-360deg); } }
@-o-keyframes orbitTopMiddle { from { -o-transform: rotate(0deg) translateY(-200px) rotate(0deg); }
  to { -o-transform: rotate(360deg) translateY(-200px) rotate(-360deg); } }
@keyframes orbitTopMiddle { from { transform: rotate(0deg) translateY(-200px) rotate(0deg); }
  to { transform: rotate(360deg) translateY(-200px) rotate(-360deg); } }
.no-svg .nonsvg-icon-backup { display: inline-block !important; }
.no-svg .svg-icon { display: none !important; }

.svg .nonsvg-icon-backup { display: none !important; }
.svg .svg-icon { display: inline-block !important; }

/****************************
ADD ALL YOUR SASS/CSS BELOW
Please be sure and use SASS nesting
http://sass-lang.com/guide#topic-3
****************************/
a:focus, *:focus { outline: none; }

p { color: #333333; font: 400 16px/24px Arial,sans-serif; margin: 0; padding: 0 0 15px; }

ol, ul { padding-left: 15px; }

.site-content ol li, .site-content ul li { font: 400 16px/24px Arial,sans-serif; color: #333333; }

.padding0 { padding: 0; }

.site-header { padding: 10px 0 0; position: relative; z-index: 9999; }
@media screen and (max-width: 767px) { .site-header a#logo { margin-left: 10px; } }
@media screen and (max-width: 767px) { .site-header { padding: 10px 0; } }
.site-header ul.nav { padding: 52px 0 0 0; }
@media screen and (max-width: 767px) { .site-header ul.nav { display: none; } }
.site-header ul.nav li { margin: 0 0 0 34px; position: relative; padding-bottom: 32px; }
.site-header ul.nav li a { color: #444444; font: 600 16px/18px "Open Sans", sans-serif; text-transform: uppercase; padding: 0; text-decoration: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.site-header ul.nav li a:hover { background: none; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; }
.site-header ul.nav li ul.sub-menu { display: none; position: absolute; left: -17px; top: 100%; list-style: none; padding: 0; width: 189px; }
.site-header ul.nav li ul.sub-menu li { margin: 0; background: #160d47; padding: 0; border-top: 1px solid #312b53; }
.site-header ul.nav li ul.sub-menu li a { padding: 20px; }
.site-header ul.nav li ul.sub-menu :hover { background: #7dba3d; }
.site-header ul.nav li ul.sub-menu .current-menu-item { background: #7dba3d; }
.site-header ul.nav li ul.sub-menu :first-child { border: 0; }
.site-header ul.nav li:hover a { color: #7dba3d; }
.site-header ul.nav li:hover ul.sub-menu { /*display:block;*/ }
.site-header ul.nav li:hover ul.sub-menu a { color: #ffffff; }
.site-header ul.nav li.current-menu-item a { color: #7dba3d; }
.site-header ul.nav li.current-page-ancestor a { color: #7dba3d; }

/*********************
HERO BANNER
*********************/
#hero { text-align: center; background-color: #000000; }
.parent-pageid-19940 #hero { background-color: #324D01; }
.home #hero .hero-image { max-height: inherit; }
#hero .hero-image { background-position: center center; background-repeat: no-repeat; background-size: cover; width: 100%; position: relative; overflow: hidden; max-height: 400px; }
@media screen and (max-width: 992px) { #hero .hero-image { min-height: 0; } }
#hero .hero-image img { width: auto; height: auto; }
@media screen and (max-width: 992px) { #hero .hero-image img { width: 100%; height: auto; } }
#hero .hero-image #mobile-hero-image { display: none; }
@media screen and (max-width: 767px) { #hero .hero-image #mobile-hero-image { display: block; position: relative; }
  #hero .hero-image #mobile-hero-image img { width: 100%; height: auto; display: block; } }
@media screen and (max-width: 767px) { #hero .hero-image { background-image: none !important; min-height: inherit; } }
#hero .hero-image .hero-info { position: absolute; top: 10%; display: block; width: 100%; z-index: 2; }
@media screen and (max-width: 767px) { #hero .hero-image .hero-info { position: static; } }
@media screen and (max-width: 767px) { #hero .hero-image .hero-info .description { text-align: center; padding: 15px; } }
#hero .hero-image .hero-info .description h2 { color: #444444; font: 700 38px/39px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 5px; margin: 0; padding-bottom: 15px; }
@media screen and (max-width: 992px) { #hero .hero-image .hero-info .description h2 { font: 700 34px/35px "Open Sans", sans-serif; } }
@media screen and (max-width: 767px) { #hero .hero-image .hero-info .description h2 { font: 700 16px/19px "Open Sans", sans-serif; } }
#hero .hero-image .hero-info .description h3 { color: #444444; font: 400 38px/39px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 4px; margin: 0; padding-bottom: 33px; }
@media screen and (max-width: 992px) { #hero .hero-image .hero-info .description h3 { font: 400 34px/35px "Open Sans", sans-serif; } }
@media screen and (max-width: 767px) { #hero .hero-image .hero-info .description h3 { font: 400 16px/19px "Open Sans", sans-serif; } }
#hero .hero-image .hero-info .description a { float: right; background: #7cb93d; color: #fff; font: 600 16px/40px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 2px; padding: 0 50px 0 28px; text-decoration: none; display: block; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; position: relative; }
@media screen and (max-width: 767px) { #hero .hero-image .hero-info .description a { float: none; display: inline-block; } }
#hero .hero-image .hero-info .description a:after { position: absolute; right: 15px; top: 0; content: ""; background: url(../images/right-angle.png) no-repeat center center; height: 40px; width: 7px; }
#hero .hero-image .hero-info .description a:hover { background: #61ae12; }
#hero .hero-image #hero-banner-video video { /*position: absolute;*/ z-index: 1; top: 0; right: 0; min-width: 100%; min-height: 100%; max-width: 100%; display: block; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(0); }
.touch #hero .hero-image #hero-banner-video video { display: none; }
#hero .hero-image .title { background: rgba(0, 0, 0, 0.6); color: #ffffff; font: 700 36px/36px "Open Sans", sans-serif; text-transform: uppercase; margin: 0; position: absolute; left: 0; bottom: 0; width: 100%; text-align: center; letter-spacing: 4px; padding: 12px 0; }
@media screen and (max-width: 992px) { #hero .hero-image .title { font: 700 27px/30px "Open Sans", sans-serif; } }
@media screen and (max-width: 767px) { #hero .hero-image .title { font: 700 18px/23px "Open Sans", sans-serif; position: static; } }

.page-template-template-why-chime #hero .hero-image .title { letter-spacing: 7px; }

.after-banner h1.sub_heading_chime { background-position: center top; padding: 40px 0 20px 0; margin: 0; color: #160d47; font: 700 24px/23px "Open Sans", sans-serif; letter-spacing: 2px; }

.page-template-template-why-chime .after-banner h1.sub_heading_chime { letter-spacing: 5px; padding-top: 57px; }

.float_center { float: none; margin: 0 auto; padding: 10px 12px; clear: both; }

.after-banner.why_chime_div { padding: 25px 0 0 0; }

.green_bg_div { height: 100%; display: table-cell; width: 22%; padding: 13px 19px; text-align: right; background: #8cc640; color: #fff; font: bold 18px/24px arial; }
@media screen and (max-width: 767px) { .green_bg_div { width: 100%; display: block; text-align: center; } }

.blue_bg_div { height: 100%; display: table-cell; width: 78%; padding: 15px 11px 0 19px; background: #140d46; color: #fff; font: normal 16px/24px arial; }
@media screen and (max-width: 767px) { .blue_bg_div { width: 100%; display: block; } }

.after-banner .blue_bg_div p { color: #fff; font: normal 16px/24px arial; }

.page-template-template-why-chime .top-3-reasons.pull-left { border-bottom: 1px solid #000000; }

.gap_div { display: table; margin: 0 0 15px; }
@media screen and (max-width: 767px) { .gap_div { width: 100%; display: block; } }

/*********************
BANNER VIDEO
*********************/
#video-block-container { position: relative; display: block; width: 100%; height: 495px; background-size: cover; }
#video-block-container #banner-video-container { position: absolute; top: 0; left: 0; z-index: 10; display: block; width: 100%; height: 100%; background: #000000; text-align: center; }
#video-block-container #banner-video-container #video-close-button { color: #ffffff; position: absolute; top: 0px; right: 10px; font-size: 2em; }
#video-block-container #banner-video-container iframe { margin: 20px 0 0; }
#video-block-container #banner-video-container.hide { display: none; }
#video-block-container .video-title { background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6); bottom: 0; color: #ffffff; font: 700 36px/36px "Open Sans",sans-serif; left: 0; letter-spacing: 4px; margin: 0; padding: 12px 0; position: absolute; text-align: center; text-transform: uppercase; width: 100%; }
#video-block-container #video-playbutton-container { text-align: center; height: 100%; }
#video-block-container #video-playbutton-container .video-play-button { color: #ffffff; font-size: 3em; height: 100%; }
#video-block-container #video-playbutton-container .video-play-button a { color: #ffffff; }
#video-block-container #video-playbutton-container #video-play-button-touch { display: none; }

.touch #video-block-container #video-playbutton-container #video-play-button-touch { display: block; }
.touch #video-block-container #video-playbutton-container #video-play-button { display: none; }

/*********************
After Banner
*********************/
.after-banner { padding: 71px 0 94px; }
@media screen and (max-width: 992px) { .after-banner { padding: 40px 0; } }
@media screen and (max-width: 767px) { .after-banner { padding: 40px 0 0; } }
.after-banner h1 { font: 700 30px/32px "Open Sans", sans-serif; text-transform: uppercase; color: #444444; padding: 0 0 26px 0; margin: 0 0 41px; background: url(../images/three-lins.png) no-repeat center bottom; }
@media screen and (max-width: 767px) { .after-banner h1 { font: 700 20px/22px "Open Sans", sans-serif; margin: 0 0 20px; } }
.after-banner p { font: 400 16px/24px Arial, sans-serif; color: #444444; }

/*********************
Services Section
*********************/
.services-section { background: url(../images/services-bg.png) no-repeat left center; background-size: cover; padding: 23px 0 0 0; }
@media screen and (max-width: 767px) { .services-section { display: none; } }
.services-section .services-left { position: relative; }
.services-section .services-left img { margin-left: -100px; }
@media screen and (max-width: 1200px) { .services-section .services-left img { margin-left: -15px; } }
.services-section .services-right .top h3 { text-transform: uppercase; font: 700 30px/32px "Open Sans", sans-serif; }
.services-section .services-right .top p { text-transform: uppercase; font: 400 16px/18px "Open Sans", sans-serif; color: #999999; }
.services-section .services-right .service { display: none; padding: 70px 0 0; }
.services-section .services-right .service span { text-transform: uppercase; font: 700 18px/20px "Open Sans", sans-serif; padding: 0 0 15px 0; display: block; }
.services-section .services-right .service p { padding: 0 0 30px; font: 400 15px/20px "Open Sans", sans-serif; }
.services-section .services-right .service a { float: right; background: #7cb93d; color: #fff; font: 600 16px/40px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 2px; padding: 0 50px 0 28px; text-decoration: none; display: block; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; position: relative; }
@media screen and (max-width: 767px) { .services-section .services-right .service a { float: none; display: inline-block; } }
.services-section .services-right .service a:after { position: absolute; right: 15px; top: 0; content: ""; background: url(../images/right-angle.png) no-repeat center center; height: 40px; width: 7px; }
.services-section .services-right .service a:hover { background: #61ae12; }
.services-section .services-right .displayService { display: block; }

.services-section-mobile { background: url(../images/mobile-bg.png) no-repeat left top; background-size: cover; padding: 25px 0 25px; display: none; }
@media screen and (max-width: 767px) { .services-section-mobile { display: block; } }
.services-section-mobile h3 { color: #ffffff; text-transform: uppercase; font: 700 24px/27px "Open Sans", sans-serif; padding: 0 0 20px 0; }
.services-section-mobile .service-mobile { padding-bottom: 50px; }
.services-section-mobile .service-mobile .image { width: 45%; }
.services-section-mobile .service-mobile .image a { width: 130px; height: 130px; line-height: 130px; text-align: center; display: inline-block; border: 5px solid #8cc640; border-radius: 50%; transition: all 0.2s ease-in-out 0s; }
.services-section-mobile .service-mobile .image a img { max-width: 65%; }
.services-section-mobile .service-mobile .image a:hover { transform: scale(1.1); }
.services-section-mobile .service-mobile .text { width: 49%; height: 100%; padding-top: 45px; margin-left: 5%; }
.services-section-mobile .service-mobile .text span { font: 700 13px/15px "Open Sans", sans-serif; color: #ffffff; text-transform: uppercase; background: url(../images/green-line.png) no-repeat center bottom; padding: 0 5px 8px; display: block; }
.services-section-mobile .service-mobile .text span a { color: #ffffff; text-decoration: none; }

/*********************
Footer Section
*********************/
.site-footer { padding: 26px 0; }
@media screen and (max-width: 767px) { .site-footer ul { width: 100%; } }
.site-footer ul li { padding: 0 30px 0 0; }
@media screen and (max-width: 767px) { .site-footer ul li { width: 100%; padding: 0 0 35px 0; text-align: center; } }
.site-footer ul li a { padding: 0; color: #999999; font: 700 14px/16px "Open Sans", sans-serif; text-transform: uppercase; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
@media screen and (max-width: 767px) { .site-footer ul li a { float: none; font: 700 16px/16px "Open Sans", sans-serif; } }
.site-footer ul li :hover { background: none; color: #7dba3d; }
@media screen and (max-width: 767px) { .site-footer .site-by { width: 100%; text-align: center; } }
.site-footer .site-by a { padding: 0; color: #999999; font: 700 14px/16px "Open Sans", sans-serif; text-transform: uppercase; text-decoration: none; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -ms-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
@media screen and (max-width: 767px) { .site-footer .site-by a { font: 400 16px/18px Arial, sans-serif; float: none; } }
.site-footer .site-by :hover { color: #7dba3d; }

/**********************
Service Detail Page
**********************/
.service-detail { padding: 37px 0 84px 0; margin: 25px 0 0; background: url(../images/three-lins.png) no-repeat center top; }
@media screen and (max-width: 992px) { .service-detail { padding: 37px 0; } }
.service-detail h2 { font: 700 18px/24px "Open Sans", sans-serif; color: #160d47; text-transform: uppercase; text-align: center; margin: 0; padding: 0 0 17px 0; letter-spacing: 3px; }
.service-detail p { font: 400 16px/24px Arial, sans-serif; color: #333333; padding: 0 0 15px 0; margin: 0; }

.page-template-template-service-php .service-detail ul { margin-left: 25px; }
@media screen and (max-width: 767px) { .page-template-template-service-php .service-detail ul { margin-left: 0; } }

.services-links { text-transform: uppercase; padding: 53px 0 55px; background-size: cover; }
.services-links h4 { margin: 0; font: 700 24px/24px "Open Sans", sans-serif; color: #160d47; padding: 0 0 45px 0; }
.services-links a { width: 100px; height: 100px; border: 5px solid #8cc640; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 90px; transition: all 0.2s ease-in-out 0s; }
.services-links a:hover { transform: scale(1.2); }
.services-links span { font: 700 18px/24px "Open Sans", sans-serif; color: #333333; padding: 22px 0 55px 0; }

/**********************
Services Page
**********************/
body.page-template-template-services .service-detail { padding: 77px 0 0; }
body.page-template-template-services .service-outer { float: left; }
body.page-template-template-services .service-links { padding: 0 0 70px; background-size: cover; }
body.page-template-template-services .service-links .service-inner { background: url(../images/service-lines.png) no-repeat center top; padding-top: 93px; padding-bottom: 70px; }
@media screen and (max-width: 992px) { body.page-template-template-services .service-links .service-inner { background-size: 68% auto; padding-top: 70px; } }
@media screen and (max-width: 992px) { body.page-template-template-services .service-links .service-inner { background: none; padding-top: 10px; } }
body.page-template-template-services .service-links h4 { margin: 0; font: 700 24px/24px "Open Sans", sans-serif; color: #160d47; padding: 0 0 45px 0; }
body.page-template-template-services .service-links a.service-icon { width: 100px; height: 100px; border: 5px solid #8cc640; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 90px; transition: all 0.2s ease-in-out 0s; }
body.page-template-template-services .service-links a.service-icon:hover { transform: scale(1.1); }
body.page-template-template-services .service-links span { font: 700 18px/24px "Open Sans", sans-serif; color: #333333; padding: 22px 0 18px 0; }
body.page-template-template-services .service-links span a { color: #333333; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; text-decoration: none; }
body.page-template-template-services .service-links span a.hover { color: #7dba3d; }
body.page-template-template-services .service-links span a:hover { color: #7dba3d; }
body.page-template-template-services .service-links ul { margin: 0; padding: 0; list-style: none; text-align: left; float: left; }
@media screen and (max-width: 767px) { body.page-template-template-services .service-links ul { padding-bottom: 30px; } }
body.page-template-template-services .service-links ul li { font: 400 16px/20px "Open Sans", sans-serif; text-transform: inherit !important; color: #333333; padding-left: 22px; padding-bottom: 10px; background: url(../images/green-bullet.png) no-repeat left 5px; }

body.page-template-template-service-php .service-detail { padding: 77px 0 0; }
body.page-template-template-service-php .service-outer { float: left; }
body.page-template-template-service-php .service-links { padding: 0 0 70px; background-size: 100% auto; background-repeat: no-repeat; background-position: center bottom; }
body.page-template-template-service-php .service-links .service-inner { background: url(../images/service-lines.png) no-repeat center top; padding-top: 93px; padding-bottom: 70px; }
@media screen and (max-width: 992px) { body.page-template-template-service-php .service-links .service-inner { background-size: 68% auto; padding-top: 70px; } }
@media screen and (max-width: 992px) { body.page-template-template-service-php .service-links .service-inner { background: none; padding-top: 10px; } }
body.page-template-template-service-php .service-links h4 { margin: 0; font: 700 24px/24px "Open Sans", sans-serif; color: #160d47; padding: 0 0 45px 0; }
body.page-template-template-service-php .service-links a.service-icon { width: 100px; height: 100px; border: 5px solid #8cc640; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 90px; transition: all 0.2s ease-in-out 0s; }
body.page-template-template-service-php .service-links a.service-icon:hover { transform: scale(1.1); }
body.page-template-template-service-php .service-links span { font: 700 18px/24px "Open Sans", sans-serif; color: #333333; padding: 22px 0 18px 0; }
body.page-template-template-service-php .service-links span a { color: #333333; -webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -ms-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; text-decoration: none; }
body.page-template-template-service-php .service-links span a.hover { color: #7dba3d; }
body.page-template-template-service-php .service-links span a:hover { color: #7dba3d; }
body.page-template-template-service-php .service-links ul { margin: 0; padding: 0; list-style: none; text-align: left; float: left; }
@media screen and (max-width: 767px) { body.page-template-template-service-php .service-links ul { padding-bottom: 30px; } }
body.page-template-template-service-php .service-links ul li { font: 400 16px/20px "Open Sans", sans-serif; text-transform: inherit !important; color: #333333; padding-left: 22px; padding-bottom: 10px; background: url(../images/green-bullet.png) no-repeat left 5px; }

.get-in-touch a { display: inline-block; background: #7cb93d; color: #fff; font: 600 16px/40px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 2px; padding: 0 50px 0 28px; text-decoration: none; border-radius: 0; width: auto; height: auto; border: 0; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; position: relative; }
@media screen and (max-width: 767px) { .get-in-touch a { float: none; display: inline-block; } }
.get-in-touch a:after { position: absolute; right: 15px; top: 0; content: ""; background: url(../images/right-angle.png) no-repeat center center; height: 40px; width: 7px; }
.get-in-touch a:hover { background: #61ae12; transform: scale(1); }

/********************
Gravity Form
********************/
@media screen and (max-width: 767px) { .page-template-template-contact #contact-map { height: 300px !important; } }
.page-template-template-contact #contact-map .gmnoprint { display: none; }
.page-template-template-contact #contact-map .gm-style-cc { display: none; }
.page-template-template-contact .contact-map-outer { position: relative; padding: 15px; }
.page-template-template-contact .contact-map-outer .gm-style-iw { top: 30px !important; left: 35px !important; }
.page-template-template-contact .contact-map-outer .gm-style-iw div { overflow: visible !important; }
.page-template-template-contact .contact-map-outer .location-information { position: relative; /*left:50%;
bottom:-230px;
margin-left: 35px;*/ background: url(../images/location-bg.png); width: 330px; color: #ffffff; padding: 6px; margin: 0 0 45px 163px; font: 400 16px/24px "Open Sans", sans-serif; }
@media screen and (max-width: 767px) { .page-template-template-contact .contact-map-outer .location-information { /*left: 50%;
bottom: 0px;*/ margin: 40px 0 0 0px; width: 100%; padding: 5px; font: 400 13px/15px "Open Sans", sans-serif; } }
.page-template-template-contact .contact-map-outer .location-information .location-name { font: 700 16px/24px "Open Sans", sans-serif; }
.page-template-template-contact .contact-map-outer .location-information a { color: #ffffff; }
.page-template-template-contact .contact-map-outer .location-information:before { content: ""; position: absolute; left: -22px; bottom: -45px; width: 69px; height: 45px; -moz-transform: scaleY(-1); -o-transform: scaleY(-1); -webkit-transform: scaleY(-1); transform: scaleY(-1); filter: FlipY; -ms-filter: "FlipY"; background: url(../images/address-arrow.png) no-repeat left bottom; }
@media screen and (max-width: 767px) { .page-template-template-contact .contact-map-outer .location-information:before { /*display:none;*/ left: 0; right: 0; margin: auto; background: url(../images/address-arrow1.png) no-repeat center bottom; } }
.page-template-template-contact .infoBox img { position: absolute !important; top: 5px !important; right: 5px !important; z-index: 50; }
.page-template-template-contact .contact-main { padding: 72px 0 109px; margin: 29px 0 0; background: url(../images/three-lins.png) no-repeat center top; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_heading h3.gform_title { font: 700 24px/26px "Open Sans", sans-serif; color: #160d47; text-transform: uppercase; letter-spacing: 4px; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body label { display: none; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul { margin: 0; padding: 0; list-style: none; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li { width: 49%; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li .ginput_container { border-left: 4px solid #7ab83d; margin-top: 12px; width: 100%; float: left; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li .ginput_container input[type="text"] { border: 1px solid #e1e1e1; position: relative; height: 35px; padding: 10px; width: 100%; float: left; color: #999999; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li .ginput_container select { width: 100%; height: 35px; float: left; border: 1px solid #e1e1e1; color: #999999; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_body ul li .ginput_container textarea { padding: 10px; width: 100%; float: left; border: 1px solid #e1e1e1; color: #999999; resize: none; height: 176px; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_footer { width: 100%; float: left; text-align: center; padding: 54px 0 0; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_footer input[type="submit"] { background: #7cb93d url(../images/right-angle.png) no-repeat 90% center; color: #fff; display: inline-block; font: 600 16px/40px "Open Sans", sans-serif; letter-spacing: 2px; padding: 0 53px 0 20px; position: relative; text-decoration: none; border: 0; text-transform: uppercase; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.page-template-template-contact .contact-main .gform_wrapper form .gform_footer input[type="submit"]:hover { background: #61ae12 url(../images/right-angle.png) no-repeat 90% center; }

/********************
Open Positions
********************/
.page-template-template-openings-php .position-main { padding: 52px 0 41px; background: #f1f1f1 url(../images/three-lins.png) no-repeat center 19px; }
.page-template-template-openings-php .position-main .wrapper { margin: 0 auto; width: 1044px; }
@media screen and (max-width: 992px) { .page-template-template-openings-php .position-main .wrapper { width: 750px; } }
@media screen and (max-width: 1200px) { .page-template-template-openings-php .position-main .wrapper { width: 960px; } }
@media screen and (max-width: 1200px) { .page-template-template-openings-php .position-main .wrapper { width: 95%; } }

.job-banner { padding: 59px 0 54px; }
.job-banner h1 { margin: 0; color: #ffffff; text-transform: uppercase; font: 600 40px/42px "Open Sans", sans-serif; padding: 0 0 12px; }
@media screen and (max-width: 767px) { .job-banner h1 { font: 600 30px/32px "Open Sans", sans-serif; } }
.job-banner h2 { margin: 0; color: #ffffff; text-transform: uppercase; font: 400 30px/32px "Open Sans", sans-serif; }
@media screen and (max-width: 767px) { .job-banner h2 { font: 600 20px/22px "Open Sans", sans-serif; } }

.wpjb-page-index .wpjb-job-list .wpjb-grid-row { background: #ffffff; border-bottom: 1px solid #f5f5f5; }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-title { width: 41%; }
@media screen and (max-width: 767px) { .wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-title { width: 80%; } }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-title a { font: 400 100%/1.5 Arial, sans-serif; color: #160d47; }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-title .wpjb-sub { display: block; font: 400 0.85em/0.95em Arial, sans-serif; }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-location { color: #444; font: 400 100%/1.5 Arial, sans-serif; }
@media screen and (max-width: 767px) { .wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-col-location { width: 100%; padding: 10px 1%; } }
@media screen and (max-width: 767px) { .wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-grid-col-right { width: 100%; padding: 10px 1%; text-align: left; } }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-bulb { /*@extend .dnone;*/ background-color: #160d47; }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row a { color: #160d47; }
.wpjb-page-index .wpjb-job-list .wpjb-grid-row .wpjb-tooltip { color: #160d47; }

.wpjb-grid-row a { color: #160d47; }

.wpjb .wpjb-form div input[type="text"] { background-color: #160d47; color: #fff; border: 0; }

.wpjb .wpjb-form div input[type="password"] { background-color: #160d47; color: #fff; border: 0; }

.wpjb .wpjb-form div textarea { background-color: #160d47; color: #fff; border: 0; }

/*Default Page css starts here*/
.page-template-default .entry-title { color: #160d47; font-family: "PhiRoman"; text-align: center; text-transform: uppercase; font-size: 36px; margin: 0 0 1em; }

/***********************
Why Chime Page
***********************/
.page-template-template-why-chime .service-detail { padding: 57px 0 84px; }
@media screen and (max-width: 767px) { .page-template-template-why-chime .service-detail { padding: 57px 0 0; } }

.testimonial-text { padding-top: 33px; }
.testimonial-text h3 { color: #160d47; font: 700 24px/26px "Open Sans", sans-serif; text-transform: uppercase; letter-spacing: 3px; padding-bottom: 32px; }
@media screen and (max-width: 992px) { .testimonial-text h3 { font: 700 20px/22px "Open Sans", sans-serif; } }
@media screen and (max-width: 767px) { .testimonial-text h3 { text-align: center; } }
.testimonial-text p { color: #444444; font: 400 20px/30px Arial, sans-serif; background: url(../images/testimonial-start.png) no-repeat left 2px; padding-left: 40px; }
.testimonial-text p img { position: relative; top: -3px; }
.testimonial-text span { color: #999999; font: 400 20px/30px Arial, sans-serif; float: right; }

.testimonial-image { float: left; }
.testimonial-image img { max-width: 100%; }

.page-template-template-why-chime .top-3-reasons { padding-top: 85px; }

.page-template-template-why-chime .top-3-reasons h4 { letter-spacing: 5px; }

.page-template-template-why-chime .top-3-reasons span.title { text-transform: uppercase; padding-top: 27px; letter-spacing: 4px; }

.top-3-reasons { padding: 40px 0 38px; background-size: cover; text-align: center; }
.top-3-reasons .service-inner { background: url(../images/service-lines.png) no-repeat center top; padding-top: 93px; }
.top-3-reasons h4 { margin: 0; font: 700 24px/24px "Open Sans", sans-serif; color: #160d47; text-transform: uppercase; padding: 0 0 70px 0; }
.top-3-reasons span.image { width: 100px; height: 100px; border: 5px solid #8cc640; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 90px; padding: 0; transition: all 0.2s ease-in-out 0s; }
.top-3-reasons span.image:hover { transform: scale(1.2); }
.top-3-reasons span.title { font: 700 18px/24px "Open Sans", sans-serif; color: #160d47; padding: 22px 0 18px 0; text-transfrom: uppercase; letter-spacing: 2px; }
.top-3-reasons p { color: #444444; font: 400 16px/18px Arial, sans-serif; }
.top-3-reasons a { background: none repeat scroll 0 0 #7cb93d; color: #fff; display: inline-block; font: 600 16px/40px "Open Sans", sans-serif; letter-spacing: 2px; padding: 0 50px 0 28px; position: relative; text-decoration: none; text-transform: uppercase; margin-top: 60px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; clear: both; }
.top-3-reasons a::after { background: url("../images/right-angle.png") no-repeat scroll center center transparent; content: ""; height: 40px; position: absolute; right: 15px; top: 0; width: 7px; }
.top-3-reasons a:hover { background: #61ae12; }

.clear { clear: both; }

/****************
Career Page
****************/
.job-link { padding: 27px 0; }
.job-link a { background: none repeat scroll 0 0 #7cb93d; color: #fff; display: inline-block; font: 600 16px/40px "Open Sans", sans-serif; letter-spacing: 2px; padding: 0 50px 0 28px; position: relative; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
.job-link a::after { background: url("../images/right-angle.png") no-repeat scroll center center transparent; content: ""; height: 40px; position: absolute; right: 15px; top: 0; width: 7px; }
.job-link a:hover { background: #61ae12; }

.page-template-template-career .service-detail { background: none; }
@media screen and (max-width: 992px) { .page-template-template-career .service-detail { margin: 0; padding: 0; } }

.our-values { background: #160d47; padding: 80px 0 60px; }
.our-values h4 { color: #ffffff; font: 700 24px/24px "Open Sans", sans-serif; margin: 0; padding: 0 0 37px; text-transform: uppercase; text-align: center; }
.our-values .value-inner { background: #28214c; margin-bottom: 20px; padding: 16px 15px 7px; }
.our-values .value-inner span { font: 48px/50px 'avenirmedium'; color: #7cb93d; float: left; width: 16%; padding-right: 20px; }
.our-values .value-inner p { font: 400 16px/20px Arial, sans-serif; padding: 0; color: #ffffff; float: left; width: 84%; }
.our-values .value-inner a { background: none repeat scroll 0 0 #7cb93d; color: #fff; display: inline-block; font: 600 16px/40px "Open Sans", sans-serif; letter-spacing: 2px; padding: 0 50px 0 28px; position: relative; text-decoration: none; text-transform: uppercase; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
@media screen and (max-width: 992px) { .our-values .value-inner a { padding: 0 35px 0 28px; } }
.our-values .value-inner a::after { background: url("../images/right-angle.png") no-repeat scroll center center transparent; content: ""; height: 40px; position: absolute; right: 15px; top: 0; width: 7px; }
.our-values .value-inner a:hover { background: #61ae12; }
.our-values .value-inner.join-team { padding: 16px 15px 17px; }

.testimonial-by { padding: 125px 0 134px; background: #160d47; }
@media screen and (max-width: 992px) { .testimonial-by { padding: 40px 0 27px; } }
.testimonial-by span { color: #8cc640; font: 700 16px/24px "Open Sans", sans-serif; text-transform: uppercase; }
.testimonial-by p { color: #ffffff; font: 400 16px/24px Arial, sans-serif; }

.mobile-slide { float: left; width: 100%; }

.mobile-menu-wrap { background: none repeat scroll 0 0 #160d47; height: 100%; margin-right: -70%; overflow-y: scroll; position: fixed; right: 0; width: 70%; z-index: 99999; }
.mobile-menu-wrap ul { -moz-padding-start: 0; list-style-type: none; padding: 0; }
.mobile-menu-wrap ul li { border-bottom: 1px solid #241a56; }
.mobile-menu-wrap ul li a { display: block; padding: 10px 20px; color: #ffffff; width: 100%; text-transform: capitalize; }
.mobile-menu-wrap ul li ul { display: none; }
.mobile-menu-wrap ul li ul li { background: #241a56; border-bottom: 1px solid #160d47; }

/*****************
Mobile Menu
*****************/
#mobile-toggle { padding: 0; right: 34px; float: right; width: 50px; height: 50px; position: relative; top: 14px; width: 50px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; height: 50px; font-size: 50px; color: #160d47; /*background-image:url(../images/mobile-menu.png);background-position:0 0;*/ }

@media screen and (max-width: 992px) { .visible-sm-block { display: none !important; } }
@media screen and (max-width: 767px) { .visible-sm-block { display: block !important; } }

#mobile-toggle.orange { /*background-position:0 -50px;*/ -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; color: #7cb93d; }

.mobile-menu-wrap ul a:hover, .mobile-menu-wrap ul a:focus { background: none repeat scroll 0 0 transparent; }

.mobile-menu-wrap ul li.menu-item-has-children > a::after, .mobile-menu-wrap ul li.top-nav-search > a::after, .mobile-menu-wrap ul li.top-nav-chapters > a::after { color: #ffffff; content: "\f0d7"; float: right; font-family: FontAwesome; font-size: 1em; padding-right: 25px; right: 0; }

.wpjb-grid-row { padding: 15px 20px !important; }

.full-width-one-hundred { width: 100% !important; }
